html, body {
  margin: 0;
  padding: 0;
  width: 360px;
  height: 500px;
  overflow: hidden;
}

body {
  background: #0d0d0d;
  color: #00ff88;
  font-family: monospace;
  box-sizing: border-box;
  padding: 10px;
}

input, button {
    width: 100%;
    margin-bottom: 6px;
    background: black;
    color: #00ff88;
    border: 1px solid #00ff88;
    padding: 6px;
}

button {
    cursor: pointer;
}

pre {
    white-space: pre-warp;
    font-size: 12px;
}